@font-face{
    font-family: 'indie-flower';
    src: url(fonts/IndieFlower-Regular.ttf);
}

@keyframes slideAndHide {
    0% {
        left: -200%;
        opacity: 1;
    }
    70% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

@media (max-width: 768px) {
    #home-menus {
        font-size: 1rem;
        gap: 10px;
        padding: 10px;
    }
    #home-menus a {
        font-size: 0.9rem;
        padding-left: 10px;
        padding-right: 10px;
    }
    #social-media-icons {
        gap: 5px;
        padding: 3px;
        margin-left: 20px;
    }
}

@media (max-width: 480px) {
    #home-menus {
        font-size: 0.9rem;
        gap: 5px;
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
        padding: 5px;
        align-items: center;
    }
    #home-menus a {
        font-size: 0.9rem;
        padding-left: 10px;
        padding-right: 10px;
    }
    #social-media-icons {
        gap: 5px;
        padding: 3px;
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    #news1-body1,
    #news1-body2,
    #news1-body3 {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 480px) {
    #news1-body1,
    #news1-body2,
    #news1-body3 {
        margin-left: 10px;
        margin-right: 10px;
    }
}

img {
  max-width: 100%;
  height: auto;
}

#main-body {
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: #fff5e5;
}


/*INTRO*/
#intro {
  position: center;
  inset: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.intro {
    font-size: clamp(1rem, 3vw, 1.5rem);
    line-height: 1.6;
    text-align: center;
    margin: 10px auto;
    max-width: 600px;
}

#intro-dog-prints1 {
    position: relative;
    left: -100%;
    margin-top: 20%;
    opacity: 1;
    animation: slideAndHide 4s forwards;
}

#main {
    opacity: 0;
    display: none;
    transition: opacity 3s ease;
}

.paws-logo-home {
    text-align: center;
}

#paws-logo-home-image {
    display: block;
    margin: 0 auto;
    width: clamp(150px, 60%, 580px);
    height: auto;
}

h1 {
    font-family: 'indie-flower', sans-serif;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    text-align: center;
    color: #213f86;
    display: block;
    margin-top: 250px;
}

h2 {
    font-family: 'indie-flower', sans-serif;
    font-size: clamp(1.5rem, 5vw, 3rem);
    text-align: center;
    color: #213f86;
    display: block;
    margin-top: 50px;
    margin-bottom: 0px;
}

p {
    text-align: center;
    font-family: 'indie-flower', sans-serif;
}

#banner {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 180px;
    transition: all 0.3s ease;
}

#banner-quote {
    font-size: clamp(2rem, 5vw, 5rem);
    color: #213f86;
    margin: 0;
    margin-top: -100px;
    margin-bottom: 55px;
    text-align: center;
    width: 100%;
}

#paws-logo-menu-image {
    width: clamp(100px, 15vw, 200px);
    height: auto;
}

#social-media-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    top: clamp(100px, 15vw, 200px);
    z-index: 2000;
    gap: 10px;
    padding: 4px;
    background-color: white;
    border: solid #213f86;
    width: fit-content;
    margin: 0 35px;
}

#social-media-icons img {
    width: clamp(10px, 5vw, 30px);
    height: auto;
    cursor: pointer;
}

#paws-menu-background-image {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: clamp(200px, 35vw, 345px);
    background-image: url('img/cartoon-paws-up.png');
    background-repeat: repeat-x;
    background-position: top;
    background-size: contain;
    z-index: -1;
    border-bottom: 4px dotted #213f86;
}

#menu{
    display: block;
    opacity: 0;
    transition: opacity 1s ease;
    background-color: transparent;
}

#home-menus {
    font-family: 'indie-flower', sans-serif;
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: bold;
    color: #213f86;
    list-style: none;
    padding: 0;
    margin: -0.5px 0 50px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    top: 20px;
    position: fixed;
    z-index: 1000;
    padding-bottom: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#home-menus a {
    text-decoration: none;
    font-size: clamp(2rem, 3vw, 2rem);
    color: #213f86;
    background-color: #ffffff;
    border-radius: 12px;
    border: 2px dashed #000000;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#home-menus a:hover {
    background-color: #213f86;
    color: #ffffff;
    transform: scale(1.05);
    border: 3px solid #000000;
}



/*MAIN PAGE*/
#dog-and-cat-paws-up {
    display: block;
    margin: 0 auto;
    border: 3px solid #213f86;
    width: 400px;
    height: auto;
    max-width: none;
}

#news1-title {
    max-width: 800px;
    margin: 0 auto 20px;
    padding: 0 20px;
    text-align: center;
    font-size: 50px;
}

#news1-body1 {
    max-width: 800px;
    margin: 0 auto 50px;
    padding: 0 20px;
    text-align: center;
    font-size: 30px;
}

#news1-body2 {
    max-width: 800px;
    margin: 0 auto 50px;
    padding: 0 20px;
    text-align: center;
    font-size: 30px;
}

#news1-body3 {
    max-width: 800px;
    margin: 0 auto 50px;
    padding: 0 20px;
    text-align: center;
    font-size: 30px;
}



/*ADOPT PAGE*/
#adopt-intro {
    font-family: 'indie-flower', sans-serif;
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: #000000;
    max-width: 600px;
    margin: 20px auto 0 auto;
}

#adoption-form {
    font-family: 'indie-flower', sans-serif;
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-style: bold;
    color: #000000;
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 400px;
    margin: 40px auto;
}

#adopt-thank-you-info {
    font-family: 'indie-flower', sans-serif;
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: #000000;
    max-width: 600px;
    margin: 20px auto 0 auto;
}